<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>secureSubmit</name>
    <displayName><![CDATA[Secure Submit]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Pay with credit card through Heartland using Secure Submit]]></description>
    <author><![CDATA[Heartland]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Warning: Are you sure you want to uninstall the Secure Submit payment module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries>US</limited_countries>
</module>