div.payment_module {
	padding-bottom: 20px;
	text-transform: none;
}

.securesubmit_title img {
	float: none;
	margin-right: 8px;
	margin-top: -2px;
	vertical-align: middle;
}

#securesubmit-payment-form label {
	display: inline-block;
	margin-bottom: 4px;
	text-transform: uppercase;
}

#securesubmit-payment-form label.lowercase {
	text-transform: none;
}

#securesubmit-payment-form input[type="text"],
#securesubmit-payment-form select {
	border: #CCCCCC solid 1px;
	margin-bottom: 15px;
	padding: 3px;
}

#securesubmit-payment-form input[type="checkbox"] {
	margin-bottom: 15px;
}

#securesubmit-payment-form a {
	display: inline;
	position: relative;
}

a.securesubmit-card-cvc-info {
	font-style: italic;
}

a.securesubmit-card-cvc-info div.cvc-info {
	background-color: #BDE5F8;
	border: #00529B solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #00529B!important;
	display: none;
	font-style: normal;
	padding: 8px;
	position: absolute;
	right: -320px; top: -10px;
	text-decoration: none;
	width: 300px;
}

a.securesubmit-card-cvc-info:hover div.cvc-info {
	display: block;
}

div.cvc-info:hover {
	cursor: default;
}

.block-left {
	display: block;
	width: 50%;
	float: left;
	/* margin-right: 20px; */
}

img.disable {
	opacity: 0.3;
}

img.enable {
	opacity: 1;
}

#securesubmit-payment-form-cc .securesubmit-submit-button-cc {
	margin-left: 5px;
}

#securesubmit-payment-form .securesubmit-submit-button,
#securesubmit-payment-form-cc .securesubmit-submit-button-cc {
	position:relative;
	display:inline-block;
	padding:5px 7px;
	border:1px solid #cc9900;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight:bold;
	color:#000;
	background:#f4b61b;
	cursor: pointer;
}
#securesubmit-payment-form .securesubmit-submit-button:hover,
#securesubmit-payment-form-cc .securesubmit-submit-button-cc:hover {
	text-decoration:none;
	background : #FDDE78;
}

.securesubmit-payment-errors {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #900;
	font-size: 13px;
	background: #FCC;
/*	display: none;	*/
}

#securesubmit-ajax-loader {
	display: none;
}

#securesubmit-ajax-loader img {
	position: relative;
	margin-left: 10px;
}

#securesubmit-payment-form input,
#securesubmit-payment-form select {
	margin-left: 0;
}

.secure-icon {
	position: relative;
	top: 3px;
	margin-right: 10px;
}

/*makenzie*/

.secure-icon {
	background-repeat:no-repeat;
	height:23px;
	width:22px;
	vertical-align:baseline;
}

.accepted-cards {
	width:400px;
	height:50px;
	margin:20px 0px;
}


#securesubmit-payment-form label {
	font-weight:100;
	margin-top:5px;
}

#securesubmit-payment-form textarea:focus, input:focus {
  outline:1px solid #3989e3;;
	border:1px solid #3989e3;
	border-radius:0px;
}

#securesubmit-payment-form input.securesubmit-card-number {
	width:220px;
	height:40px;
	background-image:url('../../views/img/ss-inputcard-blank@2x.png');
	background-repeat:no-repeat;
	background-size:55px 33px;
	background-position:right;
	padding-left:5px;
}
/*cc-types*/
.discover-icon {
	background-image:url('../../views/img/ss-inputcard-discover@2x.png');
	background-repeat:no-repeat;
	background-size:75px 33px;
	background-position:right;
}

.visa-icon {
	background-image:url('../../views/img/ss-inputcard-visa@2x.png');
	background-repeat:no-repeat;
	background-size:70px 33px;
	background-position:right;
}

.jcb-icon {
	background-image:url('../../views/img/ss-inputcard-jcb@2x.png');
	background-repeat:no-repeat;
	background-size:55px 33px;
	background-position:right;
}

.amex-icon {
	background-image:url('../../views/img/ss-inputcard-amex@2x.png');
	background-repeat:no-repeat;
	background-size:45px 33px;
	background-position:right;
}

.mastercard-icon {
	background-image:url('../../views/img/ss-inputcard-mastercard@2x.png');
	background-repeat:no-repeat;
	background-size:52px 36px;
	background-position:right;
}

#securesubmit-payment-form input.securesubmit-card-expiry {
	height:40px;
	width:84px;
	padding-left:5px;

}

#securesubmit-payment-form input.securesubmit-card-cvc {
		height:40px;
		width:104px;
		background-image:url('../../views/img/cvv1.png');
		background-repeat:no-repeat;
		background-size:67px 39px;
		background-position:right;
		padding-left:5px;
		padding-right:1px;

}

#securesubmit-payment-form .securesubmit-submit-button{
background-color:#3989e3;
color:#ffffff;
border-radius:0px;
border:1px solid #2b588a;
padding:10px;
font-weight:500;
font-size:larger;
}

#securesubmit-payment-form .securesubmit-submit-button:hover {
	background-color:#2b588a;
}

.requiredAsterisk{
	color:#F44336;
}

.floating-error{
	position:fixed;
	/* background-color:red; */
	width:100vw;
	/* height:100px; */
	top:0;
	left:0;
	z-index:2;
}

.shadow{
	box-shadow: 0px 2px 4px 0 rgba(0,0,0,0.1);
}

.modal-footer{
	border:none;
}

@media (max-width:991px){
	body#checkout .additional-information{
		margin-left:0;
	}
	.accepted-cards {
		width:305px;
		height:39px;
		margin:10px 0px;
	}
}

@media (max-width:767px) {
	.accepted-cards {
		width:305px;
		height:39px;
		margin:10px 0px;
	}

	#securesubmit-payment-form input.securesubmit-card-number,
	#securesubmit-payment-form input.securesubmit-card-expiry,
	#securesubmit-payment-form input.securesubmit-card-cvc {
		width:100%;
	}

	.block-left {
		display:block;
		width:100%;
	}

	#securesubmit-payment-form label {
		display:block;
		margin-bottom:-10px;
	}
}

@media (max-width:419px){
	h3{
		font-size:1.17em;
	}
}
